@import 'src/theme/app';
.pcp-dialog{
    .holder{overflow: hidden;}

    .header-dialog{
        background-color: $dusk-two;
        min-height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;

        h1{
            @include font-bold;
            color:white;
            font-size:15px;
            margin: 0;
            span{color: $duck-soft}
        }

        button{
            border: 0;
            background: transparent;

            mat-icon{
                @include font;
                color:white;
            }
        }
    }

    .center-container{
        width: 650px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    mat-list{
        margin-bottom: 20px;
    }

    .avatar.mat-list-icon{
        border-radius: 100%;
        width: 100px!important;
        height: 100px!important;
    }
    .mat-list-item{
        height: initial!important;
    }
    .avatar img{
        width: 100%;
        height: 100%;
        border-radius: 100%;
        border:1px solid white;
    }

    h4{
        @include font-bold;
        color: $dusk-two;
        font-size: 28px;
    }

    
 
    .info-user{
        margin-top:5px;
        
        span{
            @include font;
            color:$dusk-two;
            font-size: 15px;
            padding-right: 6px;
        }
    }

    .container-padding{
        padding:20px;
    }
}