<div class="holder pcp-dialog">
  <div class="header-dialog">
    <h1>Pagamento para <span>{{data.name}}</span></h1>
    <button><img src="assets/svg/close.svg#close" alt="fechar modal" class="arrow-left"></button>
  </div>

  <div class="container-padding">
    <div mat-dialog-content>

      <div class="center-container">
        <mat-list>
            <mat-list-item>
              <div class="avatar" mat-list-icon>
                <img [src]="data.img" [alt]="data.name">
              </div>
              <h4 mat-line>{{data.name}}</h4>
              <p mat-line class="info-user">
                <span>id: {{data.id}}</span> 
                <span>{{data.username}}</span> 
              </p>
            </mat-list-item>        
        </mat-list>

        <pcp-input-number class="payment-input" [p-value]="valueNumber" (p-change)="getValue($event)"></pcp-input-number>
      </div>

      <div class="center-container border-top">
        
        <div class="holder-credit-card">
          <img src="assets/svg/alert.svg#alert" alt="ícone de alerta">

          <div class="flex">
            <p>Nenhum cartão de crédito cadastrado</p>
            <button class="config-card" (click)="openCreditCardConfig()">Cadastrar Agora</button>
          </div>
        </div>

        <pcp-button label="Pagar" (click)="console()"></pcp-button>
      </div>
    </div>
  </div>
</div>
