@import "theme/app.scss";

html, body { 
    height: 100%; 
    margin: 0;
    padding:0;
    overflow: hidden;
}
.container{
    padding: 0;
}
.holder-scroll{
    height: calc(100% - 10px);
    overflow: scroll;
}
