@import '~material-design-icons/iconfont/material-icons.css';
@import "theme/app.scss";

html, body { 
    height: 100%; 
    margin: 0;
    padding:0;
    overflow: hidden;
}

button{
    outline: none;
}
.container{
    padding: 0;
}
.holder-scroll{
    height: calc(100% - 10px);
    overflow: scroll;
}
.mat-dialog-container{
    padding:0!important;
    overflow: hidden!important;
}
